.git
.dockerignore
Dockerfile

.env
.env.*
!.env.example

.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
Desktop.ini

node_modules
.npm
.yarn
.pnp.*

.tmp
*.db
*.sqlite
*.sqlite3
*.sql

.cache
.eslintcache
.tsbuildinfo
coverage
logs
*.log
*.log.*

dist
build
.strapi
.strapi-updater.json
.strapi-cloud.json
exports
license.txt

public/uploads/*
!public/uploads/.gitkeep

*.zip
*.tar
*.tar.gz
*.tgz
*.rar
*.7z
