.git
.dockerignore
Dockerfile

.env
.env.*
!.env.example

.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
Desktop.ini

.claude
.idea
.vscode
.zed

node_modules
.npm
.yarn
.pnp.*

.nuxt
.nitro
.output
.cache
.eslintcache
.tsbuildinfo
coverage
logs
*.log
*.log.*

dist
build
.strapi
.strapi-updater.json
.strapi-cloud.json

.tmp
*.db
*.sqlite
*.sqlite3
*.sql

public/uploads/*
!public/uploads/.gitkeep

.cargo
src-tauri/target

*.zip
*.tar
*.tar.gz
*.tgz
*.rar
*.7z
